<section>
  <header>
      <a class="logo">Portfolio</a>
      <ul class="navigation">
          <li><a style="--i:1" class="active">Home</a></li>
          <li><a style="--i:2">Qualifications</a></li>
          <li><a style="--i:3">Achievements</a></li>
          <li><a style="--i:4">Projects</a></li>
          <li><a style="--i:5">Contact</a></li>
      </ul>
  </header>
  <router-outlet></router-outlet>
  <ul class="sci">
      <li title="whatsapp"><a style="--i:12"><img src="./assets/whatsapp.svg" alt="facebook"></a></li>
      <li title="instagram"><a style="--i:13"><img src="./assets/instagram.svg" alt="instagram"></a></li>
      <li title="twitter"><a style="--i:14"><img src="./assets/twitter.svg" alt="whatsapp"></a></li>
      <li title="linkedin"><a style="--i:15"><img src="./assets/linkedin.svg" alt="whatsapp"></a></li>
  </ul>
</section>  