
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    position: relative;
    color: #ff5e8e;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    user-select: none;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.2s;
}

@keyframes slide_left{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
    cursor: pointer;
}

header ul li a{
    display: inline-block;
    color: #0169b2;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes slide_top{
    0%
    {
        transform: translateY(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}


header ul li a.active,
header ul li a:hover{ 
    background: #0169b2;
    color: #fff;
    border-radius: 30px;
}


.sci{
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    cursor: pointer;
}

.sci li:hover{
    animation: spin-animation 1s;
    animation-timing-function: linear;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sci li a{
    position: relative;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    background: #0169b2;
    border-radius: 50%;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay:calc(0.2s * var(--i));
}

@keyframes slide_right{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}

.sci li a img{
    filter: invert(1);
    transform: scale(0.5);
}