<div class="content">
    <div class="textBox">
        <h2>Selvakumar Raman</h2>
        <p align="justify">Completed my B.E. degree in Thiagarajar college of Engineering, Madurai
           with a class of first class with distinction and currently working
           in RheinBrücke IT Consulting Private Limited as a Software
           Engineer at Chennai. I am in the process of become a fullstack developer
           by using dot net core, sql server and angular web framework technologies....
        </p>
        <a>Read More</a>
    </div>
    <div class="myphoto">
        <img src="./assets/profile.jpg" alt="profile_image" class="profile">
    </div>
</div>